.App {
  text-align: center;
}
section {
  border: 1px solid #aaa;
  padding: 20px;
}
.board {
  ul {
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
  }
  li {
    list-style: none;
    border: 1px solid #ccc;
    font-size: 8px;
  }
}