* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
section {
  border: 1px solid #aaa;
  padding: 20px;
}

// PARAMS

$board-width: 250px;

// EFFECTS

.hidden {
  display: none !important;
}
.activated {
  background-color: red;
}
.shot,
.hit {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.shot {
  background-color: rgb(180, 180, 255);
}
.hit {
  background-color: rgb(255, 170, 170);
}
.part > span,
.cell > span {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 35%;
}
.minesweeper span {
  background-color: rgb(255, 207, 160);
}
.submarine span {
  background-color: rgb(175, 175, 255);
}
.cruiser span {
  background-color: rgb(201, 201, 146);
}
.battleship span {
  background-color: rgb(158, 255, 223);
}
.carrier span {
  background-color: rgb(255, 169, 255);
}

// BOARDS

.board {
  > ul {
    width: $board-width;
    display: grid;
    grid-template-columns: repeat(10, $board-width / 10);
    grid-template-rows: repeat(10, $board-width / 10);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .cell {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 12px;
    text-transform: capitalize;
    list-style: none;
  }
}

// SETUP

#setup {
  margin-top: 20px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-template-rows: 25px;
  li {
    display: grid;
    justify-items: center;
    align-items: center;
    list-style: none;
  }
}
